.logo-image{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-top: 0;
}
.heading{
    color: rgb(133, 21, 207);
    text-align: center;

}
.imgstyle{
    border-radius: 10%;
    width: 100%;
    height: 100%;
    
}
.form{
    background-color: lightgrey;
}
.title{
    color: rgb(228, 25, 160);
    text-align: left;
}
.back-to-top{
    text-align: right;
}
.style{
    width: 50%;
    height: 50%;
}
.size{
    font-size: small;
}
.footer{
    font-size: smaller;
    background-color: white;
}
.contact{
    background-color: white;
}