body{
    /* background-color: rosybrown; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    font-size: 2rem;
    color: p;
}
.outerContainer{
    border: 2px solid red;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
}
label{
    color: rgb(155, 68, 68);
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin-top: 10px; 
}
.form_input{
    width: 700%;
    height: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}